.connect-button {
    -fx-background-color: linear-gradient(#24ff03, #21a301);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.connect-button:hover {
    -fx-background-color: linear-gradient(#18b800, #156c00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}